In [3]:
# allows to import own functions
from src.features.add_features import features_graph, features_pop
from src.utils.help_func import results_searchcv, make_train_val_test, errors_distribution
import sys
import os
import re
root_project = re.findall(r'(^\S*TFM-master)', os.getcwd())[0]
sys.path.append(root_project)

In [4]:
import pandas as pd

In [5]:
df = pd.read_pickle(f'{root_project}/data/interim/country_info.pickle')
df

,country_name,country_code,total_pop,arrivals,departures,latitude,longitude,arrivals/total,departures/total,arrivals/population,departures/population,continent_name,continent_code,destinations
0,Afghanistan,AFG,37172386.0,NaN,NaN,33.0000,65.0000,NaN,NaN,NaN,NaN,Asia,AS,"[IND, PAK, ARE, IRN, TUR, AZE, KWT, TJK]"
1,Albania,ALB,2866376.0,5340000.0,5415000.0,41.0000,20.0000,0.003759,0.004280,1.862980,1.889145,Europe,EU,"[GRC, ITA, GBR, DEU, SVN, AUT, TUR]"
2,Algeria,DZA,42228429.0,2657000.0,5610000.0,28.0000,3.0000,0.001870,0.004434,0.062920,0.132849,Africa,AF,"[DEU, FRA, TUR, CIV, ESP, JOR, LBN, MLI, BEL, ..."
3,American Samoa,ASM,55312.0,20200.0,NaN,-14.3333,-170.0000,0.000014,NaN,0.365201,NaN,Oceania,OC,[USA]
4,Angola,AGO,30809762.0,218000.0,3000.0,-12.5000,18.5000,0.000153,0.000002,0.007076,0.000097,Africa,AF,"[COD, FRA, MAR, GBR, COG, ZAF, ARE, BRA, CUB, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Vietnam,VNM,95540395.0,15498000.0,NaN,16.0000,106.0000,0.010909,NaN,0.162214,NaN,Asia,AS,"[SGP, CHN, PHL, JPN, FRA, KHM, MYS, DEU, HKG, ..."
201,Virgin Islands (U.S.),VIR,106977.0,381000.0,NaN,18.3333,-64.8333,0.000268,NaN,3.561513,NaN,North America,NaN,"[VGB, PRI, USA, DMA, KNA]"
202,"Yemen, Rep.",YEM,28498687.0,366700.0,NaN,15.0000,48.0000,0.000258,NaN,0.012867,NaN,Asia,AS,"[ARE, SAU, SOM, DJI, BHR, JOR, IND, EGY, QAT, ..."
203,Zambia,ZMB,17351822.0,1072000.0,NaN,-15.0000,30.0000,0.000755,NaN,0.061780,NaN,Africa,AF,"[NLD, ZWE, MWI, KEN, ZAF, BWA, AGO, ARE, ETH, ..."
204,Zimbabwe,ZWE,14439018.0,2580000.0,2987000.0,-20.0000,30.0000,0.001816,0.002361,0.178683,0.206870,Africa,AF,"[ZMB, KEN, ZAF, BWA, ETH, MWI, TZA]"

In [6]:
df.head()

,country_name,country_code,total_pop,arrivals,departures,latitude,longitude,arrivals/total,departures/total,arrivals/population,departures/population,continent_name,continent_code,destinations
0,Afghanistan,AFG,37172386.0,NaN,NaN,33.0000,65.0,NaN,NaN,NaN,NaN,Asia,AS,"[IND, PAK, ARE, IRN, TUR, AZE, KWT, TJK]"
1,Albania,ALB,2866376.0,5340000.0,5415000.0,41.0000,20.0,0.003759,0.004280,1.862980,1.889145,Europe,EU,"[GRC, ITA, GBR, DEU, SVN, AUT, TUR]"
2,Algeria,DZA,42228429.0,2657000.0,5610000.0,28.0000,3.0,0.001870,0.004434,0.062920,0.132849,Africa,AF,"[DEU, FRA, TUR, CIV, ESP, JOR, LBN, MLI, BEL, ..."
3,American Samoa,ASM,55312.0,20200.0,NaN,-14.3333,-170.0,0.000014,NaN,0.365201,NaN,Oceania,OC,[USA]
4,Angola,AGO,30809762.0,218000.0,3000.0,-12.5000,18.5,0.000153,0.000002,0.007076,0.000097,Africa,AF,"[COD, FRA, MAR, GBR, COG, ZAF, ARE, BRA, CUB, ..."

In [8]:
print(df.iloc[:5, :8].to_latex())

\begin{tabular}{lllrrrrrr}
\toprule
{} &    country\_name & country\_code &   total\_pop &   arrivals &  departures &  latitude &  longitude &  arrivals/total \\
\midrule
0 &     Afghanistan &          AFG &  37172386.0 &        NaN &         NaN &   33.0000 &       65.0 &             NaN \\
1 &         Albania &          ALB &   2866376.0 &  5340000.0 &   5415000.0 &   41.0000 &       20.0 &        0.003759 \\
2 &         Algeria &          DZA &  42228429.0 &  2657000.0 &   5610000.0 &   28.0000 &        3.0 &        0.001870 \\
3 &  American Samoa &          ASM &     55312.0 &    20200.0 &         NaN &  -14.3333 &     -170.0 &        0.000014 \\
4 &          Angola &          AGO &  30809762.0 &   218000.0 &      3000.0 &  -12.5000 &       18.5 &        0.000153 \\
\bottomrule
\end{tabular}

In [15]:
print(df.iloc[:5].to_latex(index=False, column_format='lp{1.8cm}p{1.8cm}p{1.8cm}p{1.8cm}p{1.8cm}p{1.8cm}', columns=[
      'country_name', 'country_code', 'total_pop', 'arrivals', 'departures', 'destinations']))

\begin{tabular}{lp{1.8cm}p{1.8cm}p{1.8cm}p{1.8cm}p{1.8cm}p{1.8cm}}
\toprule
   country\_name & country\_code &   total\_pop &   arrivals &  departures &                                       destinations \\
\midrule
    Afghanistan &          AFG &  37172386.0 &        NaN &         NaN &           [IND, PAK, ARE, IRN, TUR, AZE, KWT, TJK] \\
        Albania &          ALB &   2866376.0 &  5340000.0 &   5415000.0 &                [GRC, ITA, GBR, DEU, SVN, AUT, TUR] \\
        Algeria &          DZA &  42228429.0 &  2657000.0 &   5610000.0 &  [DEU, FRA, TUR, CIV, ESP, JOR, LBN, MLI, BEL, ... \\
 American Samoa &          ASM &     55312.0 &    20200.0 &         NaN &                                              [USA] \\
         Angola &          AGO &  30809762.0 &   218000.0 &      3000.0 &  [COD, FRA, MAR, GBR, COG, ZAF, ARE, BRA, CUB, ... \\
\bottomrule
\end{tabular}

In [10]:
print(df.head().to_latex())

\begin{tabular}{lllrrrrrrrrrlll}
\toprule
{} &    country\_name & country\_code &   total\_pop &   arrivals &  departures &  latitude &  longitude &  arrivals/total &  departures/total &  arrivals/population &  departures/population & continent\_name & continent\_code &                                       destinations \\
\midrule
0 &     Afghanistan &          AFG &  37172386.0 &        NaN &         NaN &   33.0000 &       65.0 &             NaN &               NaN &                  NaN &                    NaN &           Asia &             AS &           [IND, PAK, ARE, IRN, TUR, AZE, KWT, TJK] \\
1 &         Albania &          ALB &   2866376.0 &  5340000.0 &   5415000.0 &   41.0000 &       20.0 &        0.003759 &          0.004280 &             1.862980 &               1.889145 &         Europe &             EU &                [GRC, ITA, GBR, DEU, SVN, AUT, TUR] \\
2 &         Algeria &          DZA &  42228429.0 &  2657000.0 &   5610000.0 &   28.0000 &        3.0 &        0.001870 &          0.004434 &             0.062920 &               0.132849 &         Africa &             AF &  [DEU, FRA, TUR, CIV, ESP, JOR, LBN, MLI, BEL, ... \\
3 &  American Samoa &          ASM &     55312.0 &    20200.0 &         NaN &  -14.3333 &     -170.0 &        0.000014 &               NaN &             0.365201 &                    NaN &        Oceania &             OC &                                              [USA] \\
4 &          Angola &          AGO &  30809762.0 &   218000.0 &      3000.0 &  -12.5000 &       18.5 &        0.000153 &          0.000002 &             0.007076 &               0.000097 &         Africa &             AF &  [COD, FRA, MAR, GBR, COG, ZAF, ARE, BRA, CUB, ... \\
\bottomrule
\end{tabular}